**sec**
*pid
**log**
*.log
**/plugged/**
mpd/**/log
*.pyc
**/tmp/**
**/node_modules/*
@mac/.qutebrowser/bookmarks/**
@mac/.qutebrowser/quickmarks
.netrwhist
/.gtm/
wal/.cache/wal/*
!wal/.cache/wal/schemes
!wal/.cache/wal/templates
wal/.cache/wal/colors.json
wal/.cache/wal/colors.json
wal/.cache/wal/colors-wal.vim
weechat/.weechat/python/autoload/*

neomutt/.config/neomutt/**/cache/**

zsh/.config/zsh/functions/jenkins
zsh/.config/zsh/functions/jira

nvim/.config/nvim/spell
