**sec**
*pid
**log**
*.log
**/plugged/**
mpd/**/log
*.pyc
**/tmp/**
**/node_modules/*
@mac/.qutebrowser/bookmarks/**
@mac/.qutebrowser/quickmarks/**
@mac/.qutebrowser/userscripts/**
.netrwhist
/.gtm/
weechat/.weechat/python/autoload/**
weechat/.weechat/logs
weechat/.weechat/certs/**
weechat/.weechat/sec.conf
weechat/.weechat/*.pem
wal/.cache/wal/colors.json
wal/.cache/wal/colors.scss
wal/.cache/wal/colors-oomox
wal/.cache/wal/colors-rofi-dark.rasi
wal/.cache/wal/colors-rofi-light.rasi
wal/.cache/wal/colors-tty.sh
wal/.cache/wal/colors-vscode-theme.json
wal/.cache/wal/colors-wal-dwm.h
wal/.cache/wal/colors-wal-iterm.plist
wal/.cache/wal/colors-wal-st.h
wal/.cache/wal/colors-wal-tabbed.h
wal/.cache/wal/colors-wal.vim
wal/.cache/wal/colors-kitty.conf 
wal/.cache/wal/colors.sh
wal/.cache/wal/colors.yml
wal/.cache/wal/wal


fish/.config/fish/completions
fish/.config/fish/completions
fish/.config/fish/conf.d/**
fish/.config/fish/config.fishbk
fish/.config/fish/config.fishbk
fish/.config/fish/fishd.186590d39ad5
fish/.config/fish/fishfile
fish/.config/fish/functions/

zsh/.config/zsh/functions/jira/**


