Xft.dpi:	120
Xft.autohint:	0
Xft.lcdfilter: 	lcddefault
Xft.hintstyle:	hintfull
Xft.hiting:	1
Xft.antialias:	1
Xft.rgba: 	reg

URxvt*.font: xft:Meslo LG M DZ for Powerline:size=14:antialias=true,\
              xft:MesloLGMDZ Nerd Font:pixelsize=20,\
              xft:NotoColorEmoji:antialias=true,\
              xft:MaterialIcons:size=13,\
              xft:FontAwesome:size=13,\
              xft:Siji:pixelsize=13,\
              xft:mplus Nerd Font:pixelsize=20:antialias=true,\
              xft:SauceCodePro NF:pixelsize=9,\
              xft:Consolas:size=13,\
              xft:Inconsolata for Powerline

URxvt*.scrollBar: False
URxvt*.alt-font-width: true
URxvt*.letterSpace: -1
URxvt*.lineSpace: 0
URxvt*.allow_bold: false
URxvt*.transparent: true 
URxvt*.shading: 30
URxvt.skipBuiltinGlyphs: true
URxvt*termName: rxvt-unicode-256color

URxvt*geometry: 84×24
URxvt*perl-ext-common: default,matcher,url-select,keyboard-select,clipboard
URxvt.iso14755: False
URxvt.url-launcher: /usr/bin/qutebrowser
URxvt.matcher.button: 1
! A-O means Alt-Shift O
URxvt.keysym.A-O: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/qutebrowser
URxvt.url-select.underline: true
URxvt.keysym.C-y: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.M-c-v: perl:clipboard:paste_escaped
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd:  xsel --clipboard --input
URxvt.clipboard.pastecmd: xsel --clipboard --output
URxvt.keyboard-select.clipboard: true

URxvt*depth: 32

! Generated by Wal
URxvt*foreground:   #F7F5F1
URxvt*background:   #050613
URxvt*cursorColor:  #F7F5F1

! Colors 0-15.
*background:   #050613
*foreground:   #F7F5F1
*cursorColor:  #F7F5F1
*.color0: #050613
*color0:  #050613
*.color1: #BFA45C
*color1:  #BFA45C
*.color2: #B19660
*color2:  #B19660
*.color3: #A4A195
*color3:  #A4A195
*.color4: #CFAE91
*color4:  #CFAE91
*.color5: #E1CFAB
*color5:  #E1CFAB
*.color6: #F0E4CF
*color6:  #F0E4CF
*.color7: #F7F5F1
*color7:  #F7F5F1
*.color8: #696971
*color8:  #696971
*.color9: #BFA45C
*color9:  #BFA45C
*.color10: #B19660
*color10:  #B19660
*.color11: #A4A195
*color11:  #A4A195
*.color12: #CFAE91
*color12:  #CFAE91
*.color13: #E1CFAB
*color13:  #E1CFAB
*.color14: #F0E4CF
*color14:  #F0E4CF
*.color15: #F7F5F1
*color15:  #F7F5F1

! Black color that will not be affected by bold highlighting.
*.color66: #050613
*color66:  #050613
