snippet btrue "expect(...).to.be..true()"
expect(${1}).to.be.true();
endsnippet

snippet bfalse "expect(...).to.be.false()"  
expect(${1}).to.be.false();
endsnippet

priority 49

expand javascript-node

snippet creq "assign a CommonJS-style module to a var"
const ${0:${1/(.+\/)*(\w+)(-|\b|$)(\..+$)?/\u$2/g}} = require('$1');
endsnippet
# vim:ft=snippets:

