snippet ci "Add ci prefix for git commit"
ci($1): $2 

$0
endsnippet

snippet fx "Add fix prefix for git commit"
fix($1): $2 

$0
endsnippet
	
snippet ref "Add refactor prefix for git commit"
refactor($1): $2 

$0
endsnippet

snippet st "Add style prefix for git commit"
style($1): $2

$0
endsnippet
