gtk-color-scheme = "background: #050613"
gtk-color-scheme = "foreground: #F7F5F1"

gtk-color-scheme = "color0: #050613"
gtk-color-scheme = "color1: #BFA45C"
gtk-color-scheme = "color2: #B19660"
gtk-color-scheme = "color3: #A4A195"
gtk-color-scheme = "color4: #CFAE91"
gtk-color-scheme = "color5: #E1CFAB"
gtk-color-scheme = "color6: #F0E4CF"
gtk-color-scheme = "color7: #F7F5F1"
gtk-color-scheme = "color8: #696971"
gtk-color-scheme = "color9: #BFA45C"
gtk-color-scheme = "color10: #B19660"
gtk-color-scheme = "color11: #A4A195"
gtk-color-scheme = "color12: #CFAE91"
gtk-color-scheme = "color13: #E1CFAB"
gtk-color-scheme = "color14: #F0E4CF"
gtk-color-scheme = "color15: #F7F5F1"
