snippet ral "Add reference anchor link from footer"
<i id="f$1">[$1](#a$1)</i>
endsnippet

snippet rfl "Add reference footer link to footer"
<sup id="a$1">[$1](#f$1)</sup>
endsnippet

snippet br "bold red the text"
<span style="color:red">*$1*</span>
endsnippet
snippet bb "bold blue the text"
<span style="color:blue">*$1*</span>
endsnippet

snippet b "bold the text"
*$1*
endsnippet
	

snippet ft "Add line mode filetype"
#vim:filetype=$0
endsnippet


	

	
