##########
#  Misc  #
##########
snippet uuid "Random UUID" w
`!p if not snip.c: import uuid; snip.rv = str(uuid.uuid4())`
endsnippet

snippet diso "ISO format datetime" w
`!v strftime("%Y-%m-%dT%H:%M:%S%z")`
endsnippet

